In [3]:
import mysql.connector as conn

In [4]:
class database:
    def __init__(self,host,username,password,databasename=None):
        try:
            
            self.db = conn.connect(
                host   = host,
                user     = username,
                password   = password
            )
        except Exception as e:
            print(e)
    def connection(self):
        return self.db
    
    def createdatabase(self,databasename):
        self.databasename=databasename
        sql=f"CREATE DATABASE {self.databasename}"
        cursor=self.db.cursor()
        cursor.execute(sql)
class table(database):
    def __init__(self,host,username,password):
        try:
            
            self.db = conn.connect(
                host   = host,
                user     = username,
                password   = password,
                database= "student3"
            )
        except Exception as e:
            print(e)
    def createtable(self):
        
        sql="CREATE TABLE stu_info(id integer primary key auto_increment,name varchar(255),dept varchar(255))"
        cursor=self.db.cursor()
        cursor.execute(sql)
        cursor.close()
        self.db.close()
        
    def insert(self,Id,Name,Dept):
        val=(id,'Name','Dept')
        sql ="INSERT INTO stu_info(id,name,dept) VALUES({},'{}','{}')".format(Id,Name,Dept)
        
        
        cursor=self.db.cursor()
        cursor.execute(sql)
        self.db.commit()
        cursor.close()
        self.db.close()
    
    def select(self):
        sql="SELECT * FROM stu_info"
        cursor=self.db.cursor()
        cursor.execute(sql)
        res=cursor.fetchall()
        for i in res:
            print(i)
        cursor.close()
        self.db.close()
        
    def update(self):
        sql="UPDATE  stu_info SET name='Nishad' WHERE id =6"
        cursor=self.db.cursor()
        cursor.execute(sql)
        self.db.commit()
        cursor.close()
        self.db.close()
    
    
    def delete(self):
        sql="DELETE FROM stu_info WHERE name='Riad'"
        cursor=self.db.cursor()
        cursor.execute(sql)
        cursor.close()
        self.db.cursor()

In [7]:
Database=table("localhost","root","")
Database.connection()

In [75]:
Database.createdatabase("student3")

In [85]:
Database.createtable()

In [90]:
Database.insert(0,"Minhaj","Economics")

In [101]:
Database.select()

(1, 'Minhaj', 'Economics')
(5, 'Nishad', 'CSE')
(6, 'Ripon', 'BBA')

In [99]:
Database.insert(0, 'Ripon', 'BBA')

In [95]:
Database.insert(0, 'Nishad', 'CSE')

In [104]:
Database.insert(0, 'Riad', 'CSE')

In [107]:
Database.select()

(1, 'Minhaj', 'Economics')
(5, 'Nishad', 'CSE')
(6, 'Ripon', 'BBA')
(7, 'Riad', 'CSE')

In [110]:
Database.update()

In [ ]:
Database.select()

In [6]:
Database.delete()

In [8]:
Database.select()

(1, 'Minhaj', 'Economics')
(5, 'Nishad', 'CSE')
(6, 'Nishad', 'BBA')
(7, 'Riad', 'CSE')

In [6]:
Database.insert(0, 'Nishan', 'CSE')

In [8]:
Database.select()

(1, 'Minhaj', 'Economics')
(5, 'Nishad', 'CSE')
(6, 'Nishad', 'BBA')
(7, 'Riad', 'CSE')
(14, 'Nishan', 'CSE')