In [8]:
import mysql.connector as conn

In [10]:
db=conn.connect(
    host="localhost",
    user="root",
    password=""
)
db

In [ ]:
sql="CREATE DATABASE student"
cursor=db.cursor()
cursor.execute(sql)

In [ ]:
db=conn.connect(
host="localhost",
user="root",
password="",
database="student"
)
sql="CREATE TABLE student_info(id integer primary key auto_increment,name varchar(255),dept varchar(255))"
cursor=db.cursor()
cursor.execute(sql)

In [15]:
#insert data
db=conn.connect(
host="localhost",
user="root",
password="",
database="student"
)
sql="INSERT INTO student_info(id,name,dept) VALUES(0,'RIAD','BBA')"

cursor=db.cursor()
cursor.execute(sql)
db.commit()
cursor.close()
db.close()

In [16]:
#insert data
db=conn.connect(
host="localhost",
user="root",
password="",
database="student"
)
sql="INSERT INTO student_info(id,name,dept) VALUES(0,'Ripon','CSC')"

cursor=db.cursor()
cursor.execute(sql)
db.commit()
cursor.close()
db.close()

In [19]:
#insert data
db=conn.connect(
host="localhost",
user="root",
password="",
database="student"
)
sql="SELECT * FROM student_info" 

cursor=db.cursor()
cursor.execute(sql)
#db.commit()
res=cursor.fetchall()
for i in res:
    print(i)
cursor.close()
db.close()

(1, 'RIAD', 'BBA')
(2, 'Ripon', 'CSC')

In [20]:
res

[(1, 'RIAD', 'BBA'), (2, 'Ripon', 'CSC')]

In [21]:
#update table
db=conn.connect(
host="localhost",
user="root",
password="",
database="student"
)
sql="UPDATE  student_info SET dept='IT' WHERE id =1"

cursor=db.cursor()
cursor.execute(sql)
db.commit()
cursor.close()
db.close()

# ###############

db=conn.connect(
host="localhost",
user="root",
password="",
database="student"
)
sql="SELECT * FROM student_info" 

cursor=db.cursor()
cursor.execute(sql)
#db.commit()
res=cursor.fetchall()
for i in res:
    print(i)
cursor.close()
db.close()

(1, 'RIAD', 'IT')
(2, 'Ripon', 'CSC')

In [23]:
#delete
#update table
db=conn.connect(
host="localhost",
user="root",
password="",
database="student"
)
sql="DELETE FROM student_info WHERE id=1"

cursor=db.cursor()
cursor.execute(sql)
db.commit()
cursor.close()
db.close()

# ###############

db=conn.connect(
host="localhost",
user="root",
password="",
database="student"
)
sql="SELECT * FROM student_info" 

cursor=db.cursor()
cursor.execute(sql)
#db.commit()
res=cursor.fetchall()
for i in res:
    print(i)
cursor.close()
db.close()

(2, 'Ripon', 'CSC')