In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Abdur rahim nishad\Downloads\googleplaystore.csv~\googleplaystore.csv")

In [3]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
df.Installs.isnull().sum()

0

In [5]:
df.shape

(10841, 13)

In [6]:
len(df["App"].unique())

9660

In [7]:
df.drop('App',axis=1,inplace=True)

In [8]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [9]:
len(df.Category.unique())

34

In [10]:
df.Category.unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [11]:
df[df["Category"]=="1.9"]

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [12]:
df.drop(10472,axis=0,inplace=True)

# Label encoding

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
lb=LabelEncoder()

In [15]:
df["Category"]=lb.fit_transform(df["Category"])

In [16]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,0,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,0,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,0,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,0,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [17]:
df.Rating.unique()

array([4.1, 3.9, 4.7, 4.5, 4.3, 4.4, 3.8, 4.2, 4.6, 3.2, 4. , nan, 4.8,
       4.9, 3.6, 3.7, 3.3, 3.4, 3.5, 3.1, 5. , 2.6, 3. , 1.9, 2.5, 2.8,
       2.7, 1. , 2.9, 2.3, 2.2, 1.7, 2. , 1.8, 2.4, 1.6, 2.1, 1.4, 1.5,
       1.2])

In [18]:
df.Rating.isnull().sum()

1474

In [19]:
mean=df.Rating.mean()

In [20]:
mean

4.191757420456978

In [21]:
df.Rating=df.Rating.fillna(mean)

In [22]:
df.Rating.isna().sum()

0

In [23]:
df.Rating.dtype

dtype('float64')

In [24]:
df.Reviews.unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [25]:
df.Reviews.dtype

dtype('O')

In [26]:
# 1.system 1
s=df.Reviews.astype("int64")

In [27]:
s.dtype

dtype('int64')

In [28]:
# 2.system 2
df.Reviews=df.Reviews.apply(lambda x :int(x))

In [29]:
df.Reviews.dtype

dtype('int64')

In [30]:
df.Reviews.isnull().sum()

0

In [31]:
df.Size.unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

In [32]:
df.Size.isna().sum()

0

In [33]:
df.Size[:-1].head()

0     19M
1     14M
2    8.7M
3     25M
4    2.8M
Name: Size, dtype: object

In [34]:
df.Size=df.Size.apply(lambda x:x[:-1])

In [35]:
df.Size.unique()

array(['19', '14', '8.7', '25', '2.8', '5.6', '29', '33', '3.1', '28',
       '12', '20', '21', '37', '2.7', '5.5', '17', '39', '31', '4.2',
       '7.0', '23', '6.0', '6.1', '4.6', '9.2', '5.2', '11', '24',
       'Varies with devic', '9.4', '15', '10', '1.2', '26', '8.0', '7.9',
       '56', '57', '35', '54', '201', '3.6', '5.7', '8.6', '2.4', '27',
       '2.5', '16', '3.4', '8.9', '3.9', '2.9', '38', '32', '5.4', '18',
       '1.1', '2.2', '4.5', '9.8', '52', '9.0', '6.7', '30', '2.6', '7.1',
       '3.7', '22', '7.4', '6.4', '3.2', '8.2', '9.9', '4.9', '9.5',
       '5.0', '5.9', '13', '73', '6.8', '3.5', '4.0', '2.3', '7.2', '2.1',
       '42', '7.3', '9.1', '55', '6.5', '1.5', '7.5', '51', '41', '48',
       '8.5', '46', '8.3', '4.3', '4.7', '3.3', '40', '7.8', '8.8', '6.6',
       '5.1', '61', '66', '79', '8.4', '118', '44', '695', '1.6', '6.2',
       '53', '1.4', '3.0', '5.8', '3.8', '9.6', '45', '63', '49', '77',
       '4.4', '4.8', '70', '6.9', '9.3', '10.0', '8.1', '36', '84', '97',
       '2.0', '1.9', '1.8', '5.3', '47', '556', '526', '76', '7.6', '59',
       '9.7', '78', '72', '43', '7.7', '6.3', '334', '34', '93', '65',
       '100', '58', '50', '68', '64', '67', '60', '94', '232', '99',
       '624', '95', '292', '80', '1.7', '74', '62', '69', '75', '98',
       '85', '82', '96', '87', '71', '86', '91', '81', '92', '83', '88',
       '704', '862', '899', '378', '266', '375', '1.3', '975', '980',
       '4.1', '89', '696', '544', '525', '920', '779', '853', '720',
       '713', '772', '318', '241', '196', '857', '953', '865', '251',
       '930', '540', '313', '746', '203', '314', '239', '371', '220',
       '730', '756', '293', '317', '924', '902', '818', '939', '169',
       '475', '965', '90', '545', '283', '655', '714', '872', '121',
       '322', '1.0', '976', '172', '238', '549', '206', '954', '444',
       '717', '210', '609', '308', '705', '306', '904', '473', '175',
       '350', '383', '454', '421', '812', '442', '842', '417', '412',
       '459', '478', '335', '782', '721', '430', '429', '192', '200',
       '460', '728', '496', '816', '414', '506', '887', '613', '243',
       '569', '778', '683', '592', '319', '186', '840', '647', '191',
       '373', '437', '598', '716', '585', '982', '222', '219', '948',
       '323', '691', '511', '951', '963', '554', '351', '208', '913',
       '514', '551', '103', '898', '743', '116', '153', '209', '353',
       '499', '173', '597', '809', '122', '411', '400', '801', '787',
       '237', '643', '986', '516', '837', '780', '961', '269', '498',
       '600', '749', '642', '881', '656', '601', '221', '228', '108',
       '940', '176', '663', '942', '259', '164', '458', '245', '629',
       '288', '775', '785', '636', '916', '994', '309', '485', '914',
       '903', '608', '500', '562', '847', '957', '688', '811', '270',
       '329', '523', '921', '874', '981', '784', '280', '518', '754',
       '892', '154', '860', '364', '387', '626', '161', '879', '970',
       '170', '141', '160', '144', '143', '190', '376', '193', '246',
       '658', '992', '253', '420', '404', '470', '226', '240', '234',
       '257', '861', '467', '157', '676', '552', '885', '1020', '582',
       '619'], dtype=object)

In [36]:
df.Size[df.Size=="Varies with devic"]=np.nan  #problem

C:\Users\ABDURR~1\AppData\Local\Temp/ipykernel_3008/3401991880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Size[df.Size=="Varies with devic"]=np.nan  #problem

In [37]:
df.Size.isna().sum()

1695

In [38]:
df.Size.isna().sum()

1695

In [39]:
df.Reviews.isnull().sum()

0

In [40]:
df.Size.head()

0     19
1     14
2    8.7
3     25
4    2.8
Name: Size, dtype: object

In [41]:
df.Size=df.Size.astype(float)

In [42]:
df.Size.dtype

dtype('float64')

In [43]:
df.Size.isna().sum()

1695

In [44]:
df.Size=df.Size.interpolate()

In [45]:
df.Size.isna().sum()

0

In [46]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,4.1,159,19.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,0,3.9,967,14.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,0,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,0,4.5,215644,25.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,0,4.3,967,2.8,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [47]:
df.Installs.unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

In [48]:
df.Installs=df.Installs.str.replace("+","")

C:\Users\ABDURR~1\AppData\Local\Temp/ipykernel_3008/85762983.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.Installs=df.Installs.str.replace("+","")

In [49]:
df.Installs.unique()

array(['10,000', '500,000', '5,000,000', '50,000,000', '100,000',
       '50,000', '1,000,000', '10,000,000', '5,000', '100,000,000',
       '1,000,000,000', '1,000', '500,000,000', '50', '100', '500', '10',
       '1', '5', '0'], dtype=object)

In [50]:
df.Installs=df.Installs.str.replace(",","")

In [51]:
df.Installs.unique()

array(['10000', '500000', '5000000', '50000000', '100000', '50000',
       '1000000', '10000000', '5000', '100000000', '1000000000', '1000',
       '500000000', '50', '100', '500', '10', '1', '5', '0'], dtype=object)

In [52]:
df.Installs.isnull().sum()

0

In [53]:
df.Installs=df.Installs.astype("int64")

In [54]:
df.Installs.dtype

dtype('int64')

In [55]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,4.1,159,19.0,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,0,3.9,967,14.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,0,4.7,87510,8.7,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,0,4.5,215644,25.0,50000000,Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,0,4.3,967,2.8,100000,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [56]:
df.Type.unique()

array(['Free', 'Paid', nan], dtype=object)

In [57]:
e=pd.get_dummies(df.Type)

In [58]:
e.head()

   Free  Paid
0     1     0
1     1     0
2     1     0
3     1     0
4     1     0

In [59]:
df.drop("Type",axis=1,inplace=True)

In [60]:
df.head()

,Category,Rating,Reviews,Size,Installs,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,4.1,159,19.0,10000,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,0,3.9,967,14.0,500000,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,0,4.7,87510,8.7,5000000,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,0,4.5,215644,25.0,50000000,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,0,4.3,967,2.8,100000,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [61]:
new_df=pd.concat([df,e],axis=1)

In [62]:
new_df.head()

,Category,Rating,Reviews,Size,Installs,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Free,Paid
0,0,4.1,159,19.0,10000,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,1,0
1,0,3.9,967,14.0,500000,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,1,0
2,0,4.7,87510,8.7,5000000,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,1,0
3,0,4.5,215644,25.0,50000000,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,1,0
4,0,4.3,967,2.8,100000,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,1,0

In [63]:
new_df["Content Rating"].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [64]:
new_df["Content Rating"]=lb.fit_transform(new_df["Content Rating"])

In [65]:
new_df["Content Rating"].head()

0    1
1    1
2    1
3    4
4    1
Name: Content Rating, dtype: int32

In [66]:
new_df["Content Rating"].isna().sum()

0

In [67]:
new_df.head()

,Category,Rating,Reviews,Size,Installs,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Free,Paid
0,0,4.1,159,19.0,10000,0,1,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,1,0
1,0,3.9,967,14.0,500000,0,1,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,1,0
2,0,4.7,87510,8.7,5000000,0,1,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,1,0
3,0,4.5,215644,25.0,50000000,0,4,Art & Design,"June 8, 2018",Varies with device,4.2 and up,1,0
4,0,4.3,967,2.8,100000,0,1,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,1,0

In [68]:
new_df["Genres"].head()

0                 Art & Design
1    Art & Design;Pretend Play
2                 Art & Design
3                 Art & Design
4      Art & Design;Creativity
Name: Genres, dtype: object

In [69]:
s=pd.get_dummies(new_df["Genres"])

In [70]:
s.head()

,Action,Action;Action & Adventure,Adventure,Adventure;Action & Adventure,Adventure;Brain Games,Adventure;Education,Arcade,Arcade;Action & Adventure,Arcade;Pretend Play,Art & Design,...,Tools;Education,Travel & Local,Travel & Local;Action & Adventure,Trivia,Trivia;Education,Video Players & Editors,Video Players & Editors;Creativity,Video Players & Editors;Music & Video,Weather,Word
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
new_df=pd.concat([new_df,s],axis=1)

In [72]:
new_df.head()

,Category,Rating,Reviews,Size,Installs,Price,Content Rating,Genres,Last Updated,Current Ver,...,Tools;Education,Travel & Local,Travel & Local;Action & Adventure,Trivia,Trivia;Education,Video Players & Editors,Video Players & Editors;Creativity,Video Players & Editors;Music & Video,Weather,Word
0,0,4.1,159,19.0,10000,0,1,Art & Design,"January 7, 2018",1.0.0,...,0,0,0,0,0,0,0,0,0,0
1,0,3.9,967,14.0,500000,0,1,Art & Design;Pretend Play,"January 15, 2018",2.0.0,...,0,0,0,0,0,0,0,0,0,0
2,0,4.7,87510,8.7,5000000,0,1,Art & Design,"August 1, 2018",1.2.4,...,0,0,0,0,0,0,0,0,0,0
3,0,4.5,215644,25.0,50000000,0,4,Art & Design,"June 8, 2018",Varies with device,...,0,0,0,0,0,0,0,0,0,0
4,0,4.3,967,2.8,100000,0,1,Art & Design;Creativity,"June 20, 2018",1.1,...,0,0,0,0,0,0,0,0,0,0

In [73]:
df["Last Updated"] = pd.to_datetime(df["Last Updated"])

In [74]:
df["Last Updated"].head()

0   2018-01-07
1   2018-01-15
2   2018-08-01
3   2018-06-08
4   2018-06-20
Name: Last Updated, dtype: datetime64[ns]

In [75]:
df=pd.read_csv(r"C:\Users\Abdur rahim nishad\Downloads\googleplaystore.csv~\googleplaystore.csv")

In [76]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [77]:
df.drop("App",axis=1)

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...
10836,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

# Label Encoding

In [78]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
# system 1
categories = lb.fit_transform(df['Category'])
# system 2
df['Category'] = lb.fit_transform(df['Category'])

In [79]:
df.Size.unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '1,000+',
       '470k', '226k', '240k', '89k', '234k', '257k', '861k', '467k',
       '157k', '44k', '676k', '67k', '552k', '885k', '1020k', '582k',
       '619k'], dtype=object)

In [80]:
df["Size"]=df.Size.apply(lambda x:x.replace('Varies with device',"0"))

In [81]:
df["Size"]=df["Size"].str.replace("k","")

In [82]:
 #df["Size"]=df["Size"].apply(lambda x:str(float(x.replace("M",""))*1024))
df['Size'] = df['Size'].apply(lambda x: str(float(x.replace('M', ''))*1024) if x[-1]=='M' else x)

In [83]:
df['Size']=df.Size.str.replace('+',"")

C:\Users\ABDURR~1\AppData\Local\Temp/ipykernel_3008/2006283118.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Size']=df.Size.str.replace('+',"")

In [84]:
df['Size']=df.Size.str.replace(',',"")

In [85]:
df['Size']=df.Size.astype(float)

In [86]:
df["Size"].unique()

array([1.94560e+04, 1.43360e+04, 8.90880e+03, 2.56000e+04, 2.86720e+03,
       5.73440e+03, 2.96960e+04, 3.37920e+04, 3.17440e+03, 2.86720e+04,
       1.22880e+04, 2.04800e+04, 2.15040e+04, 3.78880e+04, 2.76480e+03,
       5.63200e+03, 1.74080e+04, 3.99360e+04, 3.17440e+04, 4.30080e+03,
       7.16800e+03, 2.35520e+04, 6.14400e+03, 6.24640e+03, 4.71040e+03,
       9.42080e+03, 5.32480e+03, 1.12640e+04, 2.45760e+04, 0.00000e+00,
       9.62560e+03, 1.53600e+04, 1.02400e+04, 1.22880e+03, 2.66240e+04,
       8.19200e+03, 8.08960e+03, 5.73440e+04, 5.83680e+04, 3.58400e+04,
       5.52960e+04, 2.01000e+02, 3.68640e+03, 5.83680e+03, 8.80640e+03,
       2.45760e+03, 2.76480e+04, 2.56000e+03, 1.63840e+04, 3.48160e+03,
       9.11360e+03, 3.99360e+03, 2.96960e+03, 3.89120e+04, 3.27680e+04,
       5.52960e+03, 1.84320e+04, 1.12640e+03, 2.25280e+03, 4.60800e+03,
       1.00352e+04, 5.32480e+04, 9.21600e+03, 6.86080e+03, 3.07200e+04,
       2.66240e+03, 7.27040e+03, 3.78880e+03, 2.25280e+04, 7.57760e+03,
       6.55360e+03, 3.27680e+03, 8.39680e+03, 1.01376e+04, 5.01760e+03,
       9.72800e+03, 5.12000e+03, 6.04160e+03, 1.33120e+04, 7.47520e+04,
       6.96320e+03, 3.58400e+03, 4.09600e+03, 2.35520e+03, 7.37280e+03,
       2.15040e+03, 4.30080e+04, 7.47520e+03, 9.31840e+03, 5.63200e+04,
       2.30000e+01, 6.65600e+03, 1.53600e+03, 7.68000e+03, 5.22240e+04,
       4.19840e+04, 4.91520e+04, 8.70400e+03, 4.71040e+04, 8.49920e+03,
       4.40320e+03, 4.81280e+03, 3.37920e+03, 4.09600e+04, 7.98720e+03,
       9.01120e+03, 6.75840e+03, 5.22240e+03, 6.24640e+04, 6.75840e+04,
       7.90000e+01, 8.60160e+03, 1.18000e+02, 4.50560e+04, 6.95000e+02,
       1.63840e+03, 6.34880e+03, 1.80000e+01, 5.42720e+04, 1.43360e+03,
       3.07200e+03, 5.93920e+03, 3.89120e+03, 9.83040e+03, 4.60800e+04,
       6.45120e+04, 5.01760e+04, 7.88480e+04, 4.50560e+03, 4.91520e+03,
       7.16800e+04, 7.06560e+03, 9.52320e+03, 8.29440e+03, 3.68640e+04,
       8.60160e+04, 9.93280e+04, 2.04800e+03, 1.94560e+03, 1.84320e+03,
       5.42720e+03, 4.81280e+04, 5.56000e+02, 5.26000e+02, 7.78240e+04,
       7.78240e+03, 6.04160e+04, 9.93280e+03, 7.98720e+04, 7.37280e+04,
       4.40320e+04, 7.88480e+03, 6.45120e+03, 3.34000e+02, 3.48160e+04,
       9.52320e+04, 6.65600e+04, 8.08960e+04, 1.02400e+05, 5.93920e+04,
       5.12000e+04, 6.96320e+04, 6.55360e+04, 6.86080e+04, 6.14400e+04,
       9.62560e+04, 2.32000e+02, 1.01376e+05, 6.24000e+02, 9.72800e+04,
       8.50000e+00, 4.10000e+01, 2.92000e+02, 1.10000e+01, 8.19200e+04,
       1.74080e+03, 7.57760e+04, 6.34880e+04, 7.06560e+04, 7.68000e+04,
       1.00352e+05, 8.70400e+04, 8.39680e+04, 9.83040e+04, 8.90880e+04,
       7.27040e+04, 8.80640e+04, 9.31840e+04, 8.29440e+04, 9.42080e+04,
       8.49920e+04, 9.01120e+04, 7.04000e+02, 8.62000e+02, 8.99000e+02,
       3.78000e+02, 2.66000e+02, 3.75000e+02, 1.33120e+03, 9.75000e+02,
       9.80000e+02, 4.19840e+03, 9.11360e+04, 6.96000e+02, 5.44000e+02,
       5.25000e+02, 9.20000e+02, 7.79000e+02, 8.53000e+02, 7.20000e+02,
       7.13000e+02, 7.72000e+02, 3.18000e+02, 5.80000e+01, 2.41000e+02,
       1.96000e+02, 8.57000e+02, 5.10000e+01, 9.53000e+02, 8.65000e+02,
       2.51000e+02, 9.30000e+02, 5.40000e+02, 3.13000e+02, 7.46000e+02,
       2.03000e+02, 2.60000e+01, 3.14000e+02, 2.39000e+02, 3.71000e+02,
       2.20000e+02, 7.30000e+02, 7.56000e+02, 9.10000e+01, 2.93000e+02,
       1.70000e+01, 7.40000e+01, 1.40000e+01, 3.17000e+02, 7.80000e+01,
       9.24000e+02, 9.02000e+02, 8.18000e+02, 8.10000e+01, 9.39000e+02,
       1.69000e+02, 4.50000e+01, 4.75000e+02, 9.65000e+02, 9.21600e+04,
       5.45000e+02, 6.10000e+01, 2.83000e+02, 6.55000e+02, 7.14000e+02,
       9.30000e+01, 8.72000e+02, 1.21000e+02, 3.22000e+02, 1.02400e+03,
       9.76000e+02, 1.72000e+02, 2.38000e+02, 5.49000e+02, 2.06000e+02,
       9.54000e+02, 4.44000e+02, 7.17000e+02, 2.10000e+02, 6.09000e+02,
       3.08000e+02, 7.05000e+02, 3.06000e+02, 9.04000e+02, 4.73000e+02,
       1.75000e+02, 3.50000e+02, 3.83000e+02, 4.54000e+02, 4.21000e+02,
       7.00000e+01, 8.12000e+02, 4.42000e+02, 8.42000e+02, 4.17000e+02,
       4.12000e+02, 4.59000e+02, 4.78000e+02, 3.35000e+02, 7.82000e+02,
       7.21000e+02, 4.30000e+02, 4.29000e+02, 1.92000e+02, 2.00000e+02,
       4.60000e+02, 7.28000e+02, 4.96000e+02, 8.16000e+02, 4.14000e+02,
       5.06000e+02, 8.87000e+02, 6.13000e+02, 2.43000e+02, 5.69000e+02,
       7.78000e+02, 6.83000e+02, 5.92000e+02, 3.19000e+02, 1.86000e+02,
       8.40000e+02, 6.47000e+02, 1.91000e+02, 3.73000e+02, 4.37000e+02,
       5.98000e+02, 7.16000e+02, 5.85000e+02, 9.82000e+02, 2.22000e+02,
       2.19000e+02, 5.50000e+01, 9.48000e+02, 3.23000e+02, 6.91000e+02,
       5.11000e+02, 9.51000e+02, 9.63000e+02, 2.50000e+01, 5.54000e+02,
       3.51000e+02, 2.70000e+01, 8.20000e+01, 2.08000e+02, 9.13000e+02,
       5.14000e+02, 5.51000e+02, 2.90000e+01, 1.03000e+02, 8.98000e+02,
       7.43000e+02, 1.16000e+02, 1.53000e+02, 2.09000e+02, 3.53000e+02,
       4.99000e+02, 1.73000e+02, 5.97000e+02, 8.09000e+02, 1.22000e+02,
       4.11000e+02, 4.00000e+02, 8.01000e+02, 7.87000e+02, 2.37000e+02,
       5.00000e+01, 6.43000e+02, 9.86000e+02, 9.70000e+01, 5.16000e+02,
       8.37000e+02, 7.80000e+02, 9.61000e+02, 2.69000e+02, 2.00000e+01,
       4.98000e+02, 6.00000e+02, 7.49000e+02, 6.42000e+02, 8.81000e+02,
       7.20000e+01, 6.56000e+02, 6.01000e+02, 2.21000e+02, 2.28000e+02,
       1.08000e+02, 9.40000e+02, 1.76000e+02, 3.30000e+01, 6.63000e+02,
       3.40000e+01, 9.42000e+02, 2.59000e+02, 1.64000e+02, 4.58000e+02,
       2.45000e+02, 6.29000e+02, 2.80000e+01, 2.88000e+02, 7.75000e+02,
       7.85000e+02, 6.36000e+02, 9.16000e+02, 9.94000e+02, 3.09000e+02,
       4.85000e+02, 9.14000e+02, 9.03000e+02, 6.08000e+02, 5.00000e+02,
       5.40000e+01, 5.62000e+02, 8.47000e+02, 9.57000e+02, 6.88000e+02,
       8.11000e+02, 2.70000e+02, 4.80000e+01, 3.29000e+02, 5.23000e+02,
       9.21000e+02, 8.74000e+02, 9.81000e+02, 7.84000e+02, 2.80000e+02,
       2.40000e+01, 5.18000e+02, 7.54000e+02, 8.92000e+02, 1.54000e+02,
       8.60000e+02, 3.64000e+02, 3.87000e+02, 6.26000e+02, 1.61000e+02,
       8.79000e+02, 3.90000e+01, 9.70000e+02, 1.70000e+02, 1.41000e+02,
       1.60000e+02, 1.44000e+02, 1.43000e+02, 1.90000e+02, 3.76000e+02,
       1.93000e+02, 2.46000e+02, 7.30000e+01, 6.58000e+02, 9.92000e+02,
       2.53000e+02, 4.20000e+02, 4.04000e+02, 1.00000e+03, 4.70000e+02,
       2.26000e+02, 2.40000e+02, 8.90000e+01, 2.34000e+02, 2.57000e+02,
       8.61000e+02, 4.67000e+02, 1.57000e+02, 4.40000e+01, 6.76000e+02,
       6.70000e+01, 5.52000e+02, 8.85000e+02, 1.02000e+03, 5.82000e+02,
       6.19000e+02])

In [87]:
df['Size'].dtype

dtype('float64')

In [88]:
df["Size"][df.Size==0.0]=df["Size"].mean()

C:\Users\ABDURR~1\AppData\Local\Temp/ipykernel_3008/2088296926.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Size"][df.Size==0.0]=df["Size"].mean()

In [89]:
df[df.Size==0.0]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [90]:
df["Last Updated"].head()

0     January 7, 2018
1    January 15, 2018
2      August 1, 2018
3        June 8, 2018
4       June 20, 2018
Name: Last Updated, dtype: object

In [91]:
df["Last Updated"].unique()

array(['January 7, 2018', 'January 15, 2018', 'August 1, 2018', ...,
       'January 20, 2014', 'February 16, 2014', 'March 23, 2014'],
      dtype=object)

In [92]:
df["Year"]=df["Last Updated"].apply(lambda x :x.split(",")[-1])

In [93]:
df["Year"]

0         2018
1         2018
2         2018
3         2018
4         2018
         ...
10836     2017
10837     2018
10838     2017
10839     2015
10840     2018
Name: Year, Length: 10841, dtype: object

In [94]:
df["Month"]=df["Last Updated"].apply(lambda x:x.split(" ")[0])

In [95]:
df["Month"].head(12)

0       January
1       January
2        August
3          June
4          June
5         March
6         April
7          June
8     September
9          July
10      October
11         July
Name: Month, dtype: object

In [96]:
df["date"]=df["Last Updated"][0]

In [97]:
df["date"].head()

0    January 7, 2018
1    January 7, 2018
2    January 7, 2018
3    January 7, 2018
4    January 7, 2018
Name: date, dtype: object

In [98]:
df["day"]=df["Last Updated"].apply(lambda x:x[-8:-6])

In [99]:
df["day"]

0         7
1        15
2         1
3         8
4        20
         ..
10836    25
10837     6
10838    20
10839    19
10840    25
Name: day, Length: 10841, dtype: object

In [100]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Year,Month,date,day
0,Photo Editor & Candy Camera & Grid & ScrapBook,1,4.1,159,19456.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,2018,January,"January 7, 2018",7
1,Coloring book moana,1,3.9,967,14336.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,2018,January,"January 7, 2018",15
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",1,4.7,87510,8908.8,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,2018,August,"January 7, 2018",1
3,Sketch - Draw & Paint,1,4.5,215644,25600.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,2018,June,"January 7, 2018",8
4,Pixel Draw - Number Art Coloring Book,1,4.3,967,2867.2,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,2018,June,"January 7, 2018",20

In [101]:
df=df.drop(["Last Updated","date"],axis=1)

In [102]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver,Year,Month,day
0,Photo Editor & Candy Camera & Grid & ScrapBook,1,4.1,159,19456.0,"10,000+",Free,0,Everyone,Art & Design,1.0.0,4.0.3 and up,2018,January,7
1,Coloring book moana,1,3.9,967,14336.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,2.0.0,4.0.3 and up,2018,January,15
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",1,4.7,87510,8908.8,"5,000,000+",Free,0,Everyone,Art & Design,1.2.4,4.0.3 and up,2018,August,1
3,Sketch - Draw & Paint,1,4.5,215644,25600.0,"50,000,000+",Free,0,Teen,Art & Design,Varies with device,4.2 and up,2018,June,8
4,Pixel Draw - Number Art Coloring Book,1,4.3,967,2867.2,"100,000+",Free,0,Everyone,Art & Design;Creativity,1.1,4.4 and up,2018,June,20

In [103]:
df.Month.unique()

array(['January', 'August', 'June', 'March', 'April', 'September', 'July',
       'October', 'November', 'May', 'December', 'February', '1.0.19'],
      dtype=object)

In [104]:
# pd.Categorical(df.Month,[
#     "January","February","March","April","May","June","July","August","September","October","November","December"
# ],ordered = True)

In [105]:
df['Month'] = df.Month.map({
    'January':1, 'February':2, 'March':3, 'April':4, 'May':5, 'June':6, 'July':7, 'August':8, 'Septembar':9, 'Octobar':10, 'November':11, 'December':12
})

In [106]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver,Year,Month,day
0,Photo Editor & Candy Camera & Grid & ScrapBook,1,4.1,159,19456.000000,"10,000+",Free,0,Everyone,Art & Design,1.0.0,4.0.3 and up,2018,1.0,7
1,Coloring book moana,1,3.9,967,14336.000000,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,2.0.0,4.0.3 and up,2018,1.0,15
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",1,4.7,87510,8908.800000,"5,000,000+",Free,0,Everyone,Art & Design,1.2.4,4.0.3 and up,2018,8.0,1
3,Sketch - Draw & Paint,1,4.5,215644,25600.000000,"50,000,000+",Free,0,Teen,Art & Design,Varies with device,4.2 and up,2018,6.0,8
4,Pixel Draw - Number Art Coloring Book,1,4.3,967,2867.200000,"100,000+",Free,0,Everyone,Art & Design;Creativity,1.1,4.4 and up,2018,6.0,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,12,4.5,38,54272.000000,"5,000+",Free,0,Everyone,Education,1.48,4.1 and up,2017,7.0,25
10837,Fr. Mike Schmitz Audio Teachings,12,5.0,4,3686.400000,100+,Free,0,Everyone,Education,1.0,4.1 and up,2018,7.0,6
10838,Parkinson Exercices FR,21,NaN,3,9728.000000,"1,000+",Free,0,Everyone,Medical,1.0,2.2 and up,2017,1.0,20
10839,The SCP Foundation DB fr nn5n,4,4.5,114,18585.803976,"1,000+",Free,0,Mature 17+,Books & Reference,Varies with device,Varies with device,2015,1.0,19
10840,iHoroscope - 2018 Daily Horoscope & Astrology,19,4.5,398307,19456.000000,"10,000,000+",Free,0,Everyone,Lifestyle,Varies with device,Varies with device,2018,7.0,25

In [107]:
df.Month.value_counts()

7.0     3163
8.0     1594
6.0     1273
5.0      978
3.0      667
4.0      616
2.0      533
1.0      491
12.0     426
11.0     387
Name: Month, dtype: int64

In [108]:
df.Month.unique()

array([ 1.,  8.,  6.,  3.,  4., nan,  7., 11.,  5., 12.,  2.])