In [26]:
class Employee:
    name=""
    dept=""
    salary=""
    def __init__(self,name,dept,salary):
        self.name=name
        self.dept=dept
        self.salary=salary
    def get_emp_name(self):
        return self.name
    def get_emp_dept(self):
        return self.dept
    def get_emp_salary(self):
        return self.salary
    def __str__(self):
        return self.name+" "+self.dept+" "+self.salary

In [27]:
emp=Employee("Ripon","BBA","20000")

In [28]:
emp.get_emp_name()

'Ripon'

In [29]:
emp.get_emp_dept()

'BBA'

In [30]:
emp.get_emp_salary()

'20000'

In [31]:
emp.salary

'20000'

In [32]:
print(emp)

Ripon BBA 20000